.letThereBe {
  position: relative;
  line-height: 53.34px;
  font-weight: 500;
  display: inline-block;
  max-width: 404.9200134277344px;
  max-height: 53.34000015258789px;
}
.heading4 {
  align-self: stretch;
  padding: var(--padding-0) 2.920013427734375px var(--padding-0)
    var(--padding-0);
}
.divelementorElement2,
.divelementorWidgetContainer,
.heading4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divelementorWidgetContainer {
  align-self: stretch;
}
.divelementorElement2 {
  width: 100%;
  padding: var(--padding-0) 435.1399841308594px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  max-width: 861.8300170898438px;
  font-size: var(
    --upright-kitten-10web-site-1349x609-default-inter-medium-4184-size
  );
}
.preferenceCenter {
  position: relative;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  max-width: 247.69000244140625px;
}
.itemLink {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 91.69000244140625px var(--padding-0)
    var(--padding-0);
}
.itemLink1,
.itemLink2,
.itemLink3,
.itemLink4,
.itemmargin,
.link {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-2xl);
}
.itemLink1,
.itemLink2,
.itemLink3,
.itemLink4,
.link {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-0) 180.69000244140625px var(--padding-0)
    var(--padding-0);
}
.itemLink2,
.itemLink3,
.itemLink4,
.link {
  padding: var(--padding-0) 168.69000244140625px var(--padding-0)
    var(--padding-0);
}
.itemLink3,
.itemLink4,
.link {
  padding: var(--padding-0) 151.69000244140625px var(--padding-0)
    var(--padding-0);
}
.itemLink4,
.link {
  padding: var(--padding-0) 164.69000244140625px var(--padding-0)
    var(--padding-0);
}
.link {
  padding: var(--padding-0) 177.69000244140625px var(--padding-0)
    var(--padding-0);
}
.divelementorWidgetContainer1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 4.953120231628418px;
}
.divelementorElement4,
.divelementorWidgetContainer1,
.itemLink6 {
  display: flex;
  justify-content: flex-start;
}
.divelementorElement4 {
  width: 247.7px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 840.0599975585938px;
}
.itemLink6 {
  align-self: stretch;
  padding: var(--padding-0) 81.69000244140625px var(--padding-0)
    var(--padding-0);
}
.itemLink6,
.itemLink7,
.itemLink8 {
  flex-direction: row;
  align-items: center;
}
.itemLink7 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-0) 56.69000244140625px var(--padding-0)
    var(--padding-0);
}
.itemLink8 {
  padding: var(--padding-0) 47.69000244140625px var(--padding-0)
    var(--padding-0);
}
.divelementorElement3,
.divelementorElementmargin,
.itemLink8,
.link1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.link1 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-0) 65.69000244140625px var(--padding-0)
    var(--padding-0);
}
.divelementorElement3,
.divelementorElementmargin {
  align-items: flex-start;
}
.divelementorElement3 {
  flex-direction: row;
  padding: var(--padding-0) 301.6000061035156px var(--padding-23xl)
    var(--padding-0);
  gap: 43.08px;
}
.divelementorElementmargin {
  flex-direction: column;
  padding: 402.375px var(--padding-0) var(--padding-0);
}
.accentureAllRights {
  position: relative;
  line-height: 26.68px;
  display: inline-block;
  max-width: 840.0599975585938px;
  max-height: 26.68000030517578px;
}
.divelementorWidgetContainer3 {
  align-self: stretch;
  padding: var(--padding-0) 502.05999755859375px var(--padding-0)
    var(--padding-0);
}
.divelementorElement1,
.divelementorElement6,
.divelementorWidgetContainer3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divelementorElement6 {
  width: 100%;
  max-width: 861.8300170898438px;
}
.divelementorElement1 {
  width: 861.8px;
  padding: var(--padding-0) 21.77001953125px 85.2656021118164px var(--padding-0);
  box-sizing: border-box;
}
.aiBuilderMedia3o9uhbao35sIcon {
  position: relative;
  width: 802.3px;
  height: 882px;
  overflow: hidden;
  flex-shrink: 0;
}
.aiBuilderMedia3o9uhbao35s1 {
  width: 952.6px;
  height: 882px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) 75.1239242553711px var(--padding-0)
    75.12393951416016px;
  box-sizing: border-box;
}
.aiBuilderMedia3o9uhbao35s {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 952.5599975585938px;
  max-height: 882px;
}
.divelementorWidgetContainer4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.divelementorElement,
.divelementorElement7 {
  width: 952.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1920px;
}
.divelementorElement {
  width: 100%;
  background-color: var(--upright-kitten-10web-site-1349x609-default-black);
  height: 1098px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 197.75px var(--padding-0) var(--padding-0) 105.61000061035156px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(
    --upright-kitten-10web-site-1349x609-default-inter-regular-18-size
  );
  color: var(--upright-kitten-10web-site-1349x609-default-nero);
  font-family: var(
    --upright-kitten-10web-site-1349x609-default-inter-regular-18
  );
}
