.aiBuilderMediaIpzlb88n29sIcon {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 25.5px);
  left: calc(50% - 49.1px);
  width: 89.5px;
  height: 48px;
  z-index: 0;
}
.aiBuilderMediaIpzlb88n29s1 {
  width: 201px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    60.43539810180664px;
  box-sizing: border-box;
  position: relative;
}
.aiBuilderMediaIpzlb88n29s,
.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.aiBuilderMediaIpzlb88n29s {
  overflow: hidden;
  align-items: flex-start;
  max-width: 201.41000366210938px;
  max-height: 53px;
}
.link {
  align-items: center;
}
.divelementorElement1,
.divelementorWidgetContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divelementorWidgetContainer {
  align-self: stretch;
}
.divelementorElement1 {
  margin: 0 !important;
  /* position: absolute; */
  width: 50%;
  top: 32.8px;
  right: 1613px;
  left: 105.6px;
  max-width: 1920px;
  z-index: 0;
}
.homepage {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}
.link1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-12xs) var(--padding-4xs)
    var(--padding-0);
}
.item,
.itemmargin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemmargin {
  padding: var(--padding-0) var(--padding-40xl) var(--padding-0)
    var(--padding-0);
  color: var(--color-gainsboro);
}
.link2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-0);
}
.itemmargin1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 58.33000183105469px var(--padding-0)
    var(--padding-0);
}
.page3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.item3,
.itemmargin2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemmargin2 {
  padding: var(--padding-0) 58.269996643066406px var(--padding-0)
    var(--padding-0);
}
.item3 {
  height: 38px;
}
.list {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 19.4px);
  left: calc(50% - 331.65px);
  height: 38px;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.divelementorElement2,
.divelementorWidgetContainer1,
.list,
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-0) 481.1299743652344px var(--padding-0)
    var(--padding-0);
  position: relative;
}
.divelementorElement2,
.divelementorWidgetContainer1 {
  flex-direction: column;
}
.divelementorWidgetContainer1 {
  align-self: stretch;
  background-color: var(--upright-kitten-10web-site-1349x609-default-black);
  padding: var(--padding-0) 0.0099639892578125px var(--padding-0)
    91.19999694824219px;
}
.divelementorElement2 {
  margin: 0 !important;
  /* position: absolute; */
  width: 50%;
  top: 38.8px;
  right: 428.4px;
  left: 307px;
  padding: 2.3499999046325684px 0.0000152587890625px 0.01000070571899414px
    119.63999938964844px;
  box-sizing: border-box;
  max-width: 1920px;
  z-index: 1;
}
.usa {
  position: relative;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}
.spanelementorButtonText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.spanelementorButtonContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.divelementorButtonWrapper,
.link5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link5 {
  border-radius: var(--br-10xs);
  background-color: var(--upright-kitten-10web-site-1349x609-default-black);
  flex-direction: row;
  padding: 0.4000000059604645px 21.930004119873047px 0.4000000059604645px
    22.799999237060547px;
}
.divelementorButtonWrapper {
  align-self: stretch;
  flex-direction: column;
  padding: 3.609999895095825px 11.159996032714844px 3.590000867843628px
    var(--padding-0);
}
.divelementorWidgetContainer2 {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.divelementorElement,
.divelementorElement3 {
  margin: 0 !important;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 1920px;
}
.divelementorElement3 {
  width: calc(100% - 1599.1px);
  top: 40.8px;
  right: 107.5px;
  left: 1491.6px;
  flex-direction: column;
  padding: 12.819999694824219px 0.0000152587890625px 0.01000213623046875px
    var(--padding-213xl);
  z-index: 2;
  text-align: center;
  font-size: 15.63px;
}
.divelementorElement {
  top: 40.2px;
  left: 1px;
  background-color: var(--upright-kitten-10web-site-1349x609-default-black);
  width: 100%;
  flex-direction: row;
  padding: 32.625px 107.530029296875px 32.625px 105.58999633789062px;
  min-height: 108px;
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--upright-kitten-10web-site-1349x609-default-nero);
  font-family: var(
    --upright-kitten-10web-site-1349x609-default-inter-regular-18
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
